/* main.css */
:root {
    /* 색상 변수 정의 */
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --main-bg-dark: #1b1c1d;
    --main-bg-gray: #343a40;
    --main-bg-purple: #816BFF;
  
    /* 폰트 사이즈 변수 정의 */
    --font-size-normal: 16px;
    --font-size-large: 24px;
  
    /* 기타 */
    --padding-standard: 1rem;
  }
  
  h1, h2, h3 {
    color: var(--primary-color);
  }
  
  button, span, input, p, div {
    font-family: 'Pretendard', sans-serif;
  }
  
  .button:hover {
  }
  